extends layout/main
append head
	link(rel="stylesheet", href="/libs/bootstrap/dist/css/bootstrap.min.css")
	link(rel="stylesheet", href="/static/css/all.css")
	title braindead | all
append main
	h1 this a test page	