extends layout/main

append head
    link(rel="stylesheet", href="/static/css/home.css")
    title The News That Get You Sober
append header
    div.container
                #msg
                if msg
                    each val in msg
                        div.alert.alert-success= val
append main
    h1 this is the website, welcome
    p some fancy explanation about the purpose of the site
    #news
        each val in news
            h1= val.fields.headline
            h5!= val.fields.trailText
            img(src= val.fields.thumbnail)