extends layout/main
append head
    title thesobernews | Your Profile
append main
    div.row
        div.col-md-8.col-md-offset-2
                img.profileImg(alt="Profile Image" src=user.img)
                h1=user.username
                h3=user.email
                a#edit.btn.btn-warning(href = "/edit")
                                |Edit



