extends layout/main
append head
    link(rel="stylesheet", href="/libs/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="/static/css/error.css")
    link(rel="stylesheet", href="/static/css/main.css")
    title braindead | you're lazy
append header

    
    

        form.well.form-horizontal(action="/register" method="post"  id="contact_form")
            fieldset
                legend
                    center
                        h2
                            b 
                                |Registration
            div.container
                #err
                if err
                    each val in err
                        div.alert.alert-danger= val.msg
            div.form-group
                        label.col-md-4.control-label
                            |Username
                        div.col-md-4.inputGroupContainer
                            div.input-group
                                span.input-group-addon
                                    i.glyphicon.glyphicon-user
                                input.form-control(name="username" placeholder="Username"  type="text")

            div.form-group
                label.col-md-4.control-label
                    |Password
                div.col-md-4.inputGroupContainer
                    div.input-group
                        span.input-group-addon
                            i.glyphicon.glyphicon-user
                        input.form-control(name="password" placeholder="Password"  type="password")

            div.form-group
                label.col-md-4.control-label
                    |Confirm Password
                div.col-md-4.inputGroupContainer
                    div.input-group
                        span.input-group-addon
                            i.glyphicon.glyphicon-user
                        input.form-control(name="confirmPassword" placeholder="Confirm Password"  type="password")

            div.form-group
                label.col-md-4.control-label
                    |E-Mail Address
                div.col-md-4.inputGroupContainer
                    div.input-group
                        span.input-group-addon
                            i.glyphicon.glyphicon-envelope
                        input.form-control(name="email" placeholder="E-Mail Address"  type="text")

            div.alert.alert-success(role="alert" id="success_message")
                |Success 
                i.glyphicon.glyphicon-thumbs-up
                |Success!

            div.form-group
                label.col-md-4.control-label
                div.col-md-4
                    br
                    |&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    button.btn.btn-warning(type="submit")  
                        |&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspSUBMIT 
                        span.glyphicon.glyphicon-send
                        |&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            div.form-group.text-center
                a(href='/login') 
                    |Log In
