
ul
    each user in users
        li
            p
                | #{user._id}
            p
                | #{user.username}
            p
                | #{user._password}
            span ********************
