.sub-news {
	margin-top: 20px;
}

.news-large-thumbnail {
	position: relative;
	padding: 0;
	height: 450px;
	overflow: hidden;
}

.news-large-thumbnail .news-large-title:hover {
	background-color: rgba(255, 255, 255, 0.6);
	color: black;
}

.news-large-title {
	background-color: rgba(155, 155, 176, 0.6);
	color: white;
	position: absolute;
	padding: 10px;
	bottom: 0;
}

.news-large-title > h1 {
	margin: 0;
}

.news-large-thumbnail > a > img{
	width: 100%;
}

.news-small-container {
	background-clip:content-box;
	background-color: #f4f4f4;
	position: relative;
	padding-right: 0;
}

.news-small-thumbnail-container {
	margin-top: 25px;
	overflow: auto;
	height: 425px;
}

.news-small-title {
	left: 50%;
    top: 0%;
    transform: translateX(-50%);
	position: absolute;
	text-align: center;
	text-transform: uppercase;
	color: black;
	padding: 5px;
}

.news-small-title:hover{
	color: grey;
	text-decoration: none;
}

.news-small-thumbnail {
	background-color: #f8f8f8;
	border-bottom: 1px solid lightgrey;
	padding: 10px 10px;
	position: relative;
}

.small-cover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.news-small-thumbnail-container > a:hover .small-cover {
	background-color: rgba(88, 88, 88, 0.1);
}

.news-small-thumbnail-container > a:hover {
	text-decoration: none;
	color: black;
}

.news-small-thumbnail > h3 {
	color: black;
	font-size: 13px;
	display: inline-block;
	padding-left: 10px;
	word-break: break-all;
}

.news-small-thumbnail > img {
	width: 55px;
	vertical-align: top;
	display: inline-block;
}

.news-small-thumbnail > h3 {
	 display: inline-block; 
	margin: 0;
	width: 80%;;
}

.news-middle-thumbnail {
	background-color: #f8f8f8;
	padding: 15px;
	height: 370px;
	overflow: hidden;
}

.news-middle-thumbnail img {
	display: block;
	margin: auto;
	width: 97%;
}

.news-middle-thumbnail h2 {
	margin-top: 10px;
	font-size:  20px;
	color: grey;
	text-align: left;
}

.news-middle-thumbnail p {
	color: grey;
}

.news-middle-thumbnail .hover-cover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.news-middle-thumbnail > a:hover {
	text-decoration: none;
	color: black;
}

.news-middle-thumbnail > a:hover {
	text-decoration: none;
	color: white;
}

.news-middle-thumbnail > a:hover .hover-cover {
	background-color: rgba(88, 88, 88, 0.3);
}

.news-middle-thumbnail > a:hover img {
	transition: 0.5s;
	width: 100%;
}