#success_message{ display: none;}

body {
  position: relative;
  margin: 0;
  padding-bottom: 240px;
  min-height: 1200px;
}

.main-container {
	margin-top: 70px;
}

.main-header .navbar-brand{
	font-size: 22px;
}
.main-header .navbar-brand > span {
	color: black;
}
.main-header .profile-link {
	padding: 10px;
}

.main-header .profile-link > div {
	width: 30px;
	height: 30px;
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;
	border-radius: 30px;
	margin-right: 5px;
}

.main-header .profile-link > div > img {
	width: 30px;
}

.main-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.main-footer > nav {
	margin-bottom: 0;
}

.main-footer > nav ul a{
	font-size: 18px;
	height: 100px;
	line-height: 70px;
}

ul.nav.navbar-nav.navbar-right li img + a{
	display: inline;
}

.profileImg {
	width: 30%;
	height: 200px;
}

.hidden {
	display: none;
}
