.editor {
	display: none;
}
.container {
	background-clip:content-box;
	background-color: #f8f8f8;
}

.img-container {
	width: 70%;
	margin: 20px auto;
}

.article-img {
	width: 100%;
	margin-bottom: 20px;
}

.article-title {
	width: 80%;
	margin: 20px auto;
}

.article-text {
	width: 80%;
	text-align: justify;
	margin:20px auto;
	font-size: 16px;
}

.comment-input-container {
	width: 80%;
	margin: 10px auto;
}

.comment-input {
	width: 100%;
	height: 100px;
	font-size: 16px;
	padding: 10px;
}

.comments-container {
	border-top: 1px solid grey;
	width: 80%;
	margin: 10px auto;
}

.comment-item {
	margin: 10px 0;
}

.comment-date {
	display: inline-block;
}

.comment-username {
	display: inline-block;
	margin-right: 10px;
	font-weight: bold;
}

.bare-comment, .editor {
	position: relative;
}

.comment-edit {
	position: absolute;
	top: 0;
	right: 40px;
}

.comment-delete {
	position: absolute;
	top: 0;
	right: 0;
}

.comment-content {
	height: 30px;
	font-size: 16px;
	font-weight: bold;
	color: grey;
}

.edit-input {
	width: 100%;
	height: 70px;
	font-size: 16px;
	padding: 5px;
}