.newsItemH {
    color: rgb(46, 46, 46);
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
    font-family: 'Times New Roman', Times, serif;
}

.newsItemImg {
    height: 200px;
    width: 100%;
}

div > div.col-md-8.col-md-offset-2 {
    border: 1px solid grey;
    padding: 0px;
}

div > div.col-md-8.col-md-offset-2  p {
    margin: 10px;
}