mixin header()
	header.main-header
				nav.navbar.navbar-default
					div.container
						div.navbar-header
							a.navbar-brand(href='/')
								span the
								| sober
								span news
						ul.nav.navbar-nav
							li
								a(href='/world') World
							li
								a(href='/sport') Sport
							li
								a(href='/culture') Culture
							li
								a(href='/lifestyle') Lifestyle
							li
								a(href='/enviroment') Enviroment

						ul.nav.navbar-nav.navbar-right
							if user
								li
									a.profile-link(href='/profile')
										div
											img(src='../../static/imgs/defaultProfile.png', alt='default profile picture')
										= user.username
								li
									a(href='/logout') Log Out
							else
								li
									a(href='/login') Log In
						form.navbar-form.navbar-right(action='/search' method='get')
							.input-group
								input.form-control(type='text', placeholder='Search')
								.input-group-btn
									button.btn.btn-default(type='submit')
										i.glyphicon.glyphicon-search