<!DOCTYPE html>
html(lang="en")
	block head
		head
			meta(charset="UTF-8")
			meta(name="viewport", content="width=device-width, initial-scale=1.0")
			meta(http-equiv="X-UA-Compatible", content="ie=edge")
	body
		header(class = 'main-header')
			h1 logo
			block header
		main(class='main-container')
			block main
		footer(class='main-footer')
				a(href='/home') home
				a(href='/about') about


	